body {
  background-color: #E48577;
  width: 100%;
  height: 100%;
  margin: 0;
}

/*Fonts*/
h1, h2, h3, h4, p, a {
  font-family: 'Raleway', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/*nav*/
.nav-bar {
  width: 100%;
  height: 8vh;
  background-color: #f5f5f5;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  position: fixed;
  z-index: 10;
  }

#home-btn {
  width: auto;
}
.hobby-sketches > img {
  height: 7vh;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*nav buttons*/
.nav-btns {
  background-color: #f5f5f5;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 28px;
}

.nav-btns:hover, .nav-btns:focus {
  background-color: #f5f5f5;
}

/*container to position dropdown content*/
.dropdown {
  display: inline-block;
  text-align: end;
}
/*dropdown content, hidden by default*/
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #3d4452b7;
  width: 100%;
  height: 25vh;
  box-shadow: 0 10px 10px #3b3a3a;
  z-index: 10;
}

.dropdown-content > a {
  text-decoration: none;
  color: #f5f5f5;;
  border-bottom: 1px solid #d5d5d5;
  padding: 5px;
  display: block;
}

.show {display: block;}

/*footer*/
.footer {
  height: 20vh;
  width: auto;
  background-color: #3d4452;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer > h4 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.footer-links {
  display: inline-flex;
  font-size: 4vh;
  width: 20vw;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.footer-links > a {
  text-decoration: none;
  color: white;
}
/*Home Page*/
.home-page-jumbotron {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,
    url("https://raw.githubusercontent.com/drakesmelser54/HobbiTat/master/Images/farmer-daughter.jpg");
  background-size: cover;
  height: 130vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Middle Container*/
.welcome-container {
  height: 30vh;
  width: 20vw;
  margin-bottom: 9%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  font-size: large;
}

/*homepage button styling*/
#login-button {
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#signup-button {
  font-family: "Raleway", Helvetica, sans-serif;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
/*below jumbotron scroll*/
.home-scroll {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
}

.home-scroll-containers {
  height: auto;
  width: 80vw;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.home-scroll-containers > h2 {
  margin: 0 5vw;
  padding-bottom: 5vh;
  border-bottom: 1px solid #f5f5f5;
}
.home-photos {
  height: auto;
  width: 40vw;
  margin-top: 15vh;
  box-shadow: 0 10px 10px #3b3a3a;
}

#final-home-header {
  width: 30vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-bottom: 5vh;
}
/*Login and Signup Pages*/
.login-container {
  height: 40vh;
  width: 20vw;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 30vw;
}

.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.contact-form > input {
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.contact-form > textarea {
  margin-bottom: 5vh;
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.contact-form > select {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.login-container > a {
  color: white;
}


/*Form-inputs*/
input, input[type=email], input[type=password], input[type=text] select {
  padding: 1vh 1vw;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Noto Serif', Georgia, serif;
  text-align: center;
}

input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="text"]::placeholder{
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.contact-form > textarea::placeholder {
  color: white;
}

input[type=submit], select {
  font-family: 'Raleway', Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
  width: 200px;
}

/*Form-text areas*/
textarea, select {
  padding: 2vh 2vw;
  margin: 8px 0;
  width: 80%;
  height: 25%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;
}

/*Form Containers*/
.forms {
  font-family: 'Raleway', Helvetica, sans-serif;
  padding: 10vh;
  font-size: large;
  background-color: #E48577;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.forms > input {
  margin: 5vh;
  text-align: center;
  padding: 1vh 1vw;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: center;
}

.forms > textarea {
  margin: 5vh;
  width: 30vw;
  height: 20vh;
}

.forms > h2 {
  border-bottom: 1px white solid;
  padding-bottom: 5vh;
  margin: 5vh 5vw;
}

.forms > a {
  color: white;
}

/*ProfilePage*/
.profile-card-aligner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card {
  display: block;
  width: 80vw;
  height: 85vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: 0 10px 10px #3b3a3a;
}
.upperProfileContainer {
  height: 45%;
  width: 100%;
  background-color: #e0eef0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.upper-left {
  border-right: 1px solid #40E0D0;
  background-image: linear-gradient(to bottom right, #80f0f0, #80b8f0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.upper-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
#user-photo {
  background-size: cover;
  max-height: 80%;
  max-width: 80%;
  box-shadow: 0 5px 5px #3b3a3a;
}

#slide, #otherSlide {
  background-size: cover;
  max-height: 90%;
  max-width: 70%;
  box-shadow: 0 5px 5px #3b3a3a;
}

#back, #forward, #otherBack, #otherForward {
  font-size: 5vh;
  text-decoration: none;
  border: none;
  background-color: #e0eef0
}
.lowerProfileContainer {
  display: inline-flex;
  height: 55%;
  width: 100%;
  background-color: #e0eef0;
  color: black;
  border-top: 1px solid #40E0D0;
}

.leftProfileContainer {
  width: 30%;
  border-right: 1px solid #40E0D0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3%;
}
/*hobbitat*/


.links {
  font-size: 5vh;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#blog-website {
  padding-top: 3vh;
}
.fa-instagram-square {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 30%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 20px;
}

.fa-youtube {
  color: #FF0000;
}

.fa-pinterest {
  color: #c8232c;
  padding-right: 20px;
}

.fa-facebook {
  color: #3b5998
}

#blog-website {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: medium;
}

.name-location-container {
  height: 30%;
  width: 100%;
  color: black;
  text-align: center;
  border-bottom: 1px solid #40E0D0;
}


.edit-profile-container {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 10%;
  border-top: 1px solid #40E0D0;
  font-size: large;
  color: black;
}

.edit-profile-container > a {
  color: black;
}
.lower-middle-container {
  width: 50%;
  display: block;
}

.hobby-container, .interests-container {
  text-align: center;
}
.right-profile-headers {
  border-bottom: 1px solid #40E0D0;
  padding: 5px 0;
}

.view-container {
  width: 20%;
  border-left: 1px solid #40E0D0;
  background-color: #2F5061;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  color: white;
}

#users-button {
  padding-bottom: 5px;
  font-size: 5vh;
  text-decoration: none;
  color: white;
}
.hobbitat-button {
  color: white;
  background-color: #f5161a ;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
}

#hobbitat-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 50%;
  border: 1px solid #40E0D0;
  border-radius: 10%;
}
#next {
  font-size: 8vh;
  color: #f5161a;
  padding-bottom: 10%;
}

#chat {
  font-size: 7vh;
  color: #08c346 ;
  border-top: 1px solid #40E0D0;
  padding-top: 10%;
}


.patience {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.patience > img {
  height: 40%;
  width: auto;
}
/* #controls {
  height: 20vh;
  width: 100%;
  background-color: #3d445299;
  position: absolute;
  z-index: 9;
  margin: 0;
  padding: 0;
} */
/* chatRoomPage
.upperChatRoom {
  height: 75vh;
  width: 100%;
}

.upperLeftChatRoom {
  width: 40%;
  padding-left: 10px;
}

.upperRightChatRoom {
  width: 40%;
  text-align: right;
  padding-right: 10px;
  float: right;
}

.lowerChatRoom {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #E8B1A6;
  justify-content: space-evenly;
}

.userChatText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: smaller;
  padding-left: 10px;
  height: 40px;
  width: 80%;
  border: 2px solid black;
  border-radius: 20px;
}

/*viewing HobbiTat Page*

/*media queries for iphone x*/
/*media queries for iphone 6/7/8 plus*/
@media (max-width: 815px) {
  .hobby-sketches > img {
    height: 5vh;
    padding-left: 5px;
    padding-right: 5px;
  }

  .welcome-container {
    height: 30vh;
    width: 30vw;
    padding-bottom: 25%;
  }
  .login-container {
    height: 40vh;
    width: 60vw;
    padding-bottom: 25%;
  }

  .home-scroll-containers {
    margin-top: 5vh;
    display: block;
  }

  .home-scroll-containers > h2 {
    border: none;
  }
  .home-photos {
    height: 50vh;
    width: auto;
    margin: 5vh auto;
  }

  #final-home-header {
    width: 40vw;
  }

  #final-home-photo {
    width: 70vw;
    height: auto;
  }
  .footer {
    font-size: small;
  }

  .footer-links {
    display: flex;
    font-size: 3vh;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }

  .profile-card-aligner {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
 .profile-card {
  height: 100v%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.upperProfileContainer {
  height: 30%;
}

.lowerProfileContainer {
  height: 70%;
}

.upper-left {
  width: 35%;
}

.upper-right {
  width: 65%;
}

#back, #otherBack {
  font-size: 3vh;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

#forward, #otherForward {
  font-size: 3vh;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}
#slide, #otherSlide {
  max-height: 60%;
}

.leftProfileContainer {
  width: 40%;
  font-size: smaller;
}

.name-location-container {
  height: 25%;
}

#blog-website {
  font-size: small;
}

.edit-profile-container {
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.links {
  font-size: 4vh;
  height: 50%;
}

.view-container {
    width: 63%;
    height: 10vh;
    position: absolute;
    border: none;
    top: 85%;
    right: 0%;
    background-color: rgba(255, 255, 255, 0);
}

#users-button {
  font-size: 3vh;
  color: black;
}

.hobbitat-button {
  padding: 10px 20px;
}

.lower-middle-container {
  width: 60%;
  font-size: smaller;
  padding-left: 3vw;
  padding-right: 3vw;
}

.hobby-container, .interests-container {
  text-align: left;
}

#hobbitat-controls {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 60%;
  border: none;
}

#next {
  font-size: 7vh;
  border: none;
  padding-top: 3vh;
}

#chat {
  font-size: 6vh;
  border: none;
  padding-bottom: 2vh;
}

#hobbitat-next-header {
  margin-bottom: 0;
  color: #2f506100;
}

#hobbitat-exchange-header {
  margin-top: 0;
  color: #2f506100;
}

.patience {
  font-size: smaller;
  text-align: center;
}

.patience > img {
  height: 20vh;
}
}

