body {
  background: linear-gradient(to right, #F2b54a 0%, #FFC602 100%);
  
  width: 100%;
  height: 100%;
  margin: 0;
}

/*Fonts*/
p {
  font-family: 'Noto Serif', Georgia, serif;
}

h1, h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
}

/*nav*/
.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: inline-flex;
  justify-content: space-between;
  margin-right: 0;
}
       /*nav buttons*/
.fa-home {
  padding-top: 8%;
  padding-left: 2%;
}

.fa-bars {
  padding-top: 8%;
  padding-right: 2%;
}

/*home-page image*/
/*Middle Container*/
.welcome-container {
  height: 150px;
  width: 70%;
  border: 3px solid black;
  border-radius: 5px;
  background-color:#F2F3F2;
  color: black;
  text-align: center;
  line-height: 1;
  margin-top: 200px;
  margin-left: 60px;
}

.welcome-container>h1 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

.welcome-content>p {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 12px;
  margin-bottom: 3%;

}
  /*login/signup buttons*/
.login-buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color: black;
}

.buttons {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0;
  
}


/*Log-In Page*/
.loginContainer {
  height: 200px;
  width: 300px;
  background-color:#F2F3F2;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  margin-top: 150px;
  margin-left: 50px;
  text-align: left;
  padding-left: 10px;
  line-height: 2;
}

.bottomLoginContainer {
  text-align: center;
  line-height: 1;
}


/*Signup Page*/
.signupContainer {
  height: 250px;
  width: 300px;
  background-color:#F2F3F2;
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  margin-top: 150px;
  margin-left: 50px;
  text-align: left;
  padding-left: 10px;
  line-height: 2;
}

/*createProfilePage*/
.upperProfile {
  height: 190px;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to right, #F2b54a 0%, #FFC602 100%);
}

#profilePhotoContainer {
  height: 180px;
  width: 180px;
  background-color: black;
  border-radius: 5px 20px 5px;
  margin: 10px auto;
}

.lowerProfile {
  display: inline-flex;
}
.leftProfileContainer {
  height: 500px;
  width: 175px;
  background-color: #F2C9A0;
}

.rightProfileContainer {
  height: 500px;
  width: 239px;
  background-color: #F2F3F2;
}