body {
  background-color: #80b3b6 ;
  width: 100%;
  height: 100%;
  margin: 0;
}

/*Fonts*/
p {
  font-family: 'Noto Serif', Georgia, serif;
}

/*nav*/
.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: #ECE0D4;
  border-bottom: 3px solid #869867;
  display: inline-flex;
  justify-content: space-between;
}
       /*nav buttons*/
.fa-home {
  padding-top: 8%;
  padding-left: 2%;

}

.fa-bars {
  padding-top: 8%;
  padding-right: 2%;
}

/*home-page image*/
/*Middle Container*/
.welcome-container {
  height: 150px;
  width: 70%;
  border: 3px solid #869867;
  border-radius: 5px;
  background-color: 	#E8b1a6;
  color: whitesmoke;
  text-align: center;
  line-height: 1;
  margin-top: 200px;
  margin-left: 60px;
}

.welcome-container>h1 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

.welcome-content>p {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 12px;
  margin-bottom: 3%;

}
  /*login/signup buttons*/
.login-buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color:  whitesmoke;
}

.buttons {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0;
  
}


/*Log-In Page*/
/*Log-In Container*/
.loginContainer {
  height: 200px;
  width: 300px;
  background-color:#E8b1a6;
  border: 3px solid #869867;
  border-radius: 5px;
  color: whitesmoke;
  margin-top: 150px;
  margin-left: 50px;
  text-align: left;
  padding-left: 10px;
  line-height: 2;
}

.bottomLoginContainer {
  text-align: center;
  line-height: 1;
}